
/* ------------------ */
/* global Declaration */
/* ------------------ */

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;

  /* debugging  */
  /*border: 1px solid red;*/

  /* global default font */
  font-family: monospace;
}

body {
  background-color: rgb(20, 19, 19);
  /*overflow: hidden;*/
}

p {
  color: white;
  font-size: 1.5em;
}

button {
  outline: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

h1, h2 {
  color: white;
  text-align: center;
}
li {
  list-style: none;
}


/* ------------------------ */
/* Outter-Container Section */
/* ------------------------ */

.outer-container {
  padding: 10px;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* ----------------- */
/* Top-Bar Container */
/* ----------------- */

.top-bar, p {
  float: right;
}

/* ----------------------- */
/* Inner-Container Section */
/* ----------------------- */

.inner-container {
  background-color: black;
  height: 100vh;
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


/* ------------------------- */
/* Header/Quiz Intro Section */
/* ------------------------- */

.quiz-intro, main {
  display: block;
  margin-top: 0vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: slategrey;
}

.quiz-intro p{
  text-align: center;
}

.quiz-intro button {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* ----------------- */
/* Main Quiz Content */
/* ----------------- */

main {
  display: block;
}

/* --------------- */
/* Question Screen */
/* --------------- */

.question-screen {
  display: none;
}


/* ------------------ */
/* Quiz Finish Screen */
/* ------------------ */

.quiz-finish-screen {
  display: none;
}

/* ----------------- */
/* Highscores Screen */
/* ----------------- */

.highscores-screen {
  display: none;
}

.highscores-screen ol {
  max-height: 200px;
}

.highscores-screen ol:hover {
 overflow-y: scroll;
}